.mainDiv {
    background-color: #171717;
    color: white;
    width: 100vw;
    height: 100vh;
    gap: clamp(15px, calc(9.231px + 0.801vw), 40px);
    box-sizing: border-box;
    display: grid;
    padding: clamp(1rem, calc(0.538rem + 1.026vw), 3rem);
    grid-template-columns: 30% 1fr 30% 30%;
    grid-template-rows: 1fr 50% 40%;
    grid-template-areas:
        "box-header box-header box-header box-header"
        "box-personal box-personal box-parents box-siblings"
        "box-academic box-academic box-files box-actions";
}

.personalInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(13px, calc(2.154px + 1.506vw), 60px);
    grid-area: box-personal;
    box-sizing: border-box;
    gap: 7%;
}

.personalInfoDiv>p {
    font-size: clamp(1.13rem, calc(0.692rem + 0.962vw), 3.00rem);
    display: flex;
    align-items: center;
    gap: 0.6vw;
}

.parentsInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(13px, calc(2.154px + 1.506vw), 60px);
    grid-area: box-parents;
    box-sizing: border-box;
    gap: 7%;
}

.parentsInfoDiv>p {
    font-size: clamp(1.13rem, calc(0.692rem + 0.962vw), 3.00rem);
    display: flex;
    align-items: center;
    gap: 0.6vw;
}

.siblingsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(13px, calc(2.154px + 1.506vw), 60px);
    grid-area: box-siblings;
    box-sizing: border-box;
    gap: 7%;
}

.siblingsDiv>p {
    font-size: clamp(1.13rem, calc(0.692rem + 0.962vw), 3.00rem);
    display: flex;
    align-items: center;
    gap: 0.6vw;
}

.academicDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(13px, calc(2.154px + 1.506vw), 60px);
    grid-area: box-academic;
    box-sizing: border-box;
    gap: 7%;
}

.academicDiv>p {
    font-size: clamp(1.13rem, calc(0.692rem + 0.962vw), 3.00rem);
    display: flex;
    align-items: center;
    gap: 0.6vw;
}

.recordHeaderDiv {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: box-header;
    box-sizing: border-box;
}

.fileButtonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(13px, calc(2.154px + 1.506vw), 60px);
    grid-area: box-files;
    box-sizing: border-box;
    gap: 7%;
}

.fileButtonDiv>p {
    font-size: clamp(1.13rem, calc(0.692rem + 0.962vw), 3.00rem);
    display: flex;
    align-items: center;
    gap: 0.6vw;
}

.actionButtonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(13px, calc(2.154px + 1.506vw), 60px);
    grid-area: box-actions;
    box-sizing: border-box;
    gap: 7%;
}

.actionButtonsDiv>p {
    font-size: clamp(1.13rem, calc(0.692rem + 0.962vw), 3.00rem);
    display: flex;
    align-items: center;
    gap: 0.6vw;
}

.mainDiv>div:not(.recordHeaderDiv) {
    border-radius: clamp(15px, calc(9.231px + 0.801vw), 40px);
    background-color: #252525;
}