.personalInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    padding: clamp(5px, calc(2.462px + 0.353vw), 16px);
}

.parentsInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    padding: clamp(5px, calc(2.462px + 0.353vw), 16px);
}