.siblingsHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dependentDiv {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    width: 100%;
}