.copyTrackID {
    display: flex;
    align-items: center;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainDiv>p {
    text-align: center;
}

.mainDiv {
    font-size: clamp(1.00rem, calc(0.727rem + 1.364vw), 4.00rem);
}

.trackButton {
    padding: clamp(10px, calc(8px + 0.625vw), 32px);
    text-decoration: none;
    color: white;
    background-color: rgb(53, 233, 21);
    border-radius: clamp(5px, 10px, 30px);
}