.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.mainDiv {
    border: 1px solid;
    width: 38%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(8px, calc(2.909px + 1.591vw), 64px);
    border-radius: 2vw;
}

.loadingDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    font-size: clamp(1.50rem, calc(1.154rem + 0.769vw), 3.00rem);
    gap: clamp(10px, calc(4.923px + 0.705vw), 32px);
}

.formDiv>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, calc(4.923px + 0.705vw), 32px);
}

.formDiv>form>label {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.formDiv>p {
    margin: 0;
    font-size: clamp(2.00rem, calc(1.596rem + 0.897vw), 3.75rem);
}

.formDiv>form>label>input {
    width: clamp(200px, calc(107.692px + 12.821vw), 600px);
    height: 4vh;
    border-radius: 0.5vw;
}

.loginButton {
    width: 70%;
    height: 7vh;
    background-color: rgb(53, 233, 21);
    padding: clamp(0.2rem, 0.5rem, 2rem);
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 1vw;
    border-style: hidden;
    color: white;
    font-size: clamp(1.50rem, calc(0.923rem + 1.282vw), 4.00rem);
}