.mainDiv {
    width: 100%;
    padding: clamp(1rem, 2vw, 2rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: clamp(16px, calc(-1.077px + 2.372vw), 90px);
    background-color: #171717
}

.sessionListDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header>p {
    margin-right: clamp(1px, calc(-5.692px + 0.929vw), 30px);
    font-size: clamp(0.50rem, calc(0.183rem + 0.705vw), 1.88rem);
    display: flex;
    align-items: center;
    gap: clamp(3px, calc(1.385px + 0.224vw), 10px);
}

.header div {
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    align-items: center;
}

.header p:first-child {
    font-size: clamp(1.13rem, calc(0.000rem + 2.500vw), 6.00rem);
}