.trackDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.mainDiv {
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    min-width: 250px;
}

.inputLabel {
    display: contents;
    font-size: clamp(1.5rem, 2rem, 5rem);
}

.trackInput {
    height: clamp(1rem, 2rem, 5rem);
    width: 80%;
}

.trackButton {
    margin-top: 10px;
    width: 90%;
    height: 7vh;
    max-height: 60px;
    max-width: 500px;
    font-size: clamp(1rem, 1.5rem, 10rem);
    font-weight: bold;
    border-style: none;
    background-color: rgb(53, 233, 21);
    border-radius: clamp(0.5rem, 1rem, 5rem);
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.trackButton:hover {
    background-color: rgb(59, 255, 24);
}

.trackInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: clamp(10px, calc(8px + 0.625vw), 32px);
}

.trackInfo> :nth-child(1) {
    margin: 0 auto;
}

.trackInfo> :nth-child(4) {
    margin: 0 auto;
}

.trackInfo> :nth-child(2) {
    font-size: clamp(1rem, 2.5rem, 10rem);
    font-weight: bold;
}

.trackInfo> :nth-child(5) {
    font-size: clamp(1rem, 2.5rem, 10rem);
    font-weight: bold;
}

.inputLabel {
    font-size: clamp(2.00rem, calc(1.818rem + 0.909vw), 4.00rem);
}

.homeButton1 {
    border: 2px solid;
    width: 30%;
    background-color: white;
    max-width: 200px;
    height: 6vh;
    font-size: clamp(0.7rem, 1.1rem, 8rem);
    color: #2563eb;
    border-radius: clamp(1rem, 1.2rem, 4rem);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: auto;
    margin-bottom: clamp(10px, calc(8px + 0.625vw), 32px);
}

.homeButton1:hover {
    background-color: #2563eb;
    color: white;
}

.mobileHomeButton1 {
    border: 2px solid;
    width: 30%;
    background-color: white;
    max-width: 200px;
    height: 6vh;
    font-size: clamp(0.7rem, 1.1rem, 8rem);
    color: #2563eb;
    border-radius: clamp(1rem, 1.2rem, 4rem);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: auto;
    display: none;
    margin-bottom: clamp(10px, calc(8px + 0.625vw), 32px);
}

.mobileHomeButton1:hover {
    background-color: #2563eb;
    color: white;
}

@media screen and (max-width:600px) {
    .mobileHomeButton1 {
        display: inline;
    }

    .homeButton1 {
        display: none;
    }
}

.trackInfo>p:nth-child(1) {
    font-size: clamp(1.00rem, calc(0.636rem + 1.818vw), 2.00rem);
}

.trackInfo>p:nth-child(4) {
    font-size: clamp(1.00rem, calc(0.636rem + 1.818vw), 2.00rem);
}