.trackDiv {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    min-width: 250px;
}

.inputLabel {
    display: contents;
    font-size: clamp(1.5rem, 2rem, 5rem);
}

.trackInput {
    height: clamp(1rem, 2rem, 5rem);
    width: 80%;
}

.trackButton {
    margin-top: 10px;
    width: 90%;
    height: 7vh;
    max-height: 60px;
    max-width: 500px;
    font-size: clamp(1rem, 1.5rem, 10rem);
    font-weight: bold;
    border-style: none;
    background-color: rgb(53, 233, 21);
    border-radius: clamp(0.5rem, 1rem, 5rem);
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.trackButton:hover {
    background-color: rgb(59, 255, 24);
}

.trackInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.trackInfo> :nth-child(1) {
    margin: 0 auto;
}

.trackInfo> :nth-child(4) {
    margin: 0 auto;
}

.trackInfo> :nth-child(2) {
    font-size: clamp(1rem, 2.5rem, 10rem);
}

.trackInfo> :nth-child(5) {
    font-size: clamp(1rem, 2.5rem, 10rem);
}

.backButton {
    width: 40%;
    max-width: 500px;
    height: 5vh;
    max-height: 60px;
    display: inline-block;
    padding: 12px 24px;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-size: clamp(1rem, 1.5rem, 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.backButton:hover {
    background-color: #2b6eff;
}

.inputLabel {
    font-size: clamp(2.00rem, calc(1.818rem + 0.909vw), 4.00rem);
}