.assignForm {
    display: flex;
    flex-direction: column;
}

.formDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.formDetails label {
    display: flex;
    flex-direction: column;
}

.assignDiv {
    display: flex;
    flex-direction: column;
}

.assignDiv div {
    display: flex;
    flex-direction: column;
}

.formContent {
    display: flex;
}