.logo {
    height: 17vh;
    width: 100%;
}

.batchDiv p {
    font-size: clamp(1.00rem, calc(0.769rem + 0.513vw), 2.00rem);
}

.utils {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    flex-grow: 1;
}

.dashboardButton {
    text-decoration: none;
    color: white;
    background-color: #171717;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.13rem, calc(0.663rem + 1.026vw), 3.13rem);
}

.dashboardButton.active {
    background-color: #171717;
}

.dashboardButton.inactive {
    background-color: #2a2a2a;
}

.dashboardButton.inactive:hover {
    background-color: #3e3e3e;
}

.recordsButton {
    text-decoration: none;
    color: white;
    background-color: #171717;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.13rem, calc(0.663rem + 1.026vw), 3.13rem);
}

.recordsButton.active {
    background-color: #171717;
}

.recordsButton.inactive {
    background-color: #2a2a2a;
}

.recordsButton.inactive:hover {
    background-color: #3e3e3e;
}

.signoutButton {
    text-decoration: none;
    background-color: #3e3e3e;
    color: white;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.81rem, calc(0.308rem + 1.122vw), 3.00rem);
    border-style: none;
    margin-top: auto;
    cursor: pointer;
}

.signoutButton:hover {
    background-color: #4c4c4c;
}

.batchDiv {
    display: flex;
    height: 12vh;
    flex-direction: column;
    align-items: center;
}

.branchSelect {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    font-size: clamp(1.00rem, calc(0.423rem + 1.282vw), 3.50rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}