.mainDiv {
    width: 20%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    gap: 6vh;
    background-color: #252525;
    color: white;
}

.title {
    font-size: clamp(2.25rem, calc(1.731rem + 1.154vw), 4.50rem);
    margin: 0 auto;
    margin-top: 2vh;
    text-align: center;
}

.utils {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    height: 45vh;
}

.dashboardButton {
    text-decoration: none;
    color: white;
    background-color: #171717;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.50rem, calc(0.923rem + 1.282vw), 4.00rem);
}

.recordsButton {
    text-decoration: none;
    color: white;
    background-color: #171717;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.50rem, calc(0.923rem + 1.282vw), 4.00rem);
}

.signoutButton {
    text-decoration: none;
    color: white;
    background-color: #f83535;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.50rem, calc(0.923rem + 1.282vw), 4.00rem);
    border-style: none;
    margin-top: auto;
}

.batchDiv {
    display: flex;
    height: 12vh;
    flex-direction: column;
    align-items: center;
}

.branchSelect {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    font-size: clamp(1.00rem, calc(0.423rem + 1.282vw), 3.50rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}