body {
    background-color: #171717;
}

.personalInfoDiv[hidden] {
    padding: clamp(1rem, calc(0.909rem + 0.455vw), 2rem);
    display: none !important;
}

.mainDiv {
    height: 100vh;
}

.header {
    font-size: clamp(1.50rem, calc(1.250rem + 1.250vw), 4.25rem);
    font-weight: bold;
    text-align: center;
    color: white;
}

.personalInfoDiv>label {
    color: white;
    margin: clamp(0.5rem, calc(0.909rem + 0.455vw), 2rem);
    font-size: clamp(1.5rem, 1.2955rem + 1.0227vw, 3.75rem);
    display: flex;
    flex-direction: column;

    input {
        width: clamp(15rem, calc(-0.682rem + 78.409vw), 187.5rem);
        height: 3vh;
        ;
    }
}

.familyBackgroundDiv>label {
    margin: clamp(0.5rem, calc(0.909rem + 0.455vw), 2rem);
    font-size: clamp(1.5rem, 1.2955rem + 1.0227vw, 3.75rem);
    display: flex;
    flex-direction: column;

    input {
        width: clamp(4rem, calc(7.636px + 7.614vw), 300px);
        height: clamp(1.5rem, calc(1.273rem + 1.136vw), 4rem);
        ;
    }
}

.familyBackgroundDiv[hidden] {
    padding: clamp(1rem, calc(0.909rem + 0.455vw), 2rem);
    display: none !important;
}

.motherInfoDiv>label {
    margin: clamp(0.5rem, calc(0.909rem + 0.455vw), 2rem);
    font-size: clamp(1.5rem, 1.2955rem + 1.0227vw, 3.75rem);
    display: flex;
    flex-direction: column;

    input {
        width: clamp(15rem, calc(-0.682rem + 78.409vw), 187.5rem);
        height: clamp(1.5rem, calc(1.273rem + 1.136vw), 4rem);
        ;
    }
}

.motherInfoDiv[hidden] {
    padding: clamp(1rem, calc(0.909rem + 0.455vw), 2rem);
    display: none !important;
}

.fatherInfoDiv>label {
    margin: clamp(0.5rem, calc(0.909rem + 0.455vw), 2rem);
    font-size: clamp(1.5rem, 1.2955rem + 1.0227vw, 3.75rem);
    display: flex;
    flex-direction: column;

    input {
        width: clamp(15rem, calc(-0.682rem + 78.409vw), 187.5rem);
        height: clamp(1.5rem, calc(1.273rem + 1.136vw), 4rem);
        ;
    }
}

.fatherInfoDiv[hidden] {
    padding: clamp(1rem, calc(0.909rem + 0.455vw), 2rem);
    display: none !important;
}

.dependentDiv>label {
    margin: clamp(0.5rem, calc(0.909rem + 0.455vw), 2rem);
    font-size: clamp(1.5rem, 1.2955rem + 1.0227vw, 3.75rem);
    display: flex;
    flex-direction: column;

    input {
        width: clamp(15rem, calc(-0.682rem + 78.409vw), 187.5rem);
        height: clamp(1.5rem, calc(1.273rem + 1.136vw), 4rem);
        ;
    }
}

.dependentDiv[hidden] {
    padding: clamp(1rem, calc(0.909rem + 0.455vw), 2rem);
    display: none !important;
}

.requirementFilesDiv>label {
    margin: clamp(0.5rem, calc(0.909rem + 0.455vw), 2rem);
    font-size: clamp(1.5rem, 1.2955rem + 1.0227vw, 3.75rem);
    display: flex;
    flex-direction: column;

    input {
        width: clamp(15rem, calc(-0.682rem + 78.409vw), 187.5rem);
        height: clamp(1.5rem, calc(1.273rem + 1.136vw), 4rem);
        ;
    }
}

.nextButton {
    background-color: #2563eb;
    width: 20%;
    max-width: 200px;
    height: 6vh;
    font-size: clamp(0.7rem, 1.1rem, 8rem);
    color: white;
    border-style: hidden;
    border-radius: clamp(1rem, 1.2rem, 4rem);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nextButton:hover {
    background-color: #407cfd;
}

.backButton {
    border: 2px solid;
    width: 20%;
    background: none;
    max-width: 200px;
    height: 6vh;
    font-size: clamp(0.7rem, 1.1rem, 8rem);
    color: #2563eb;
    border-radius: clamp(1rem, 1.2rem, 4rem);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 3px;
}

.backButton:hover {
    background-color: #2563eb;
    color: white;
}

.formSubmitButton {
    background-color: rgb(53, 233, 21);
    width: 30%;
    max-width: 200px;
    height: 6vh;
    font-size: clamp(0.7rem, 1.1rem, 8rem);
    color: white;
    border-style: hidden;
    border-radius: clamp(1rem, 1.2rem, 4rem);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.formSubmitButton:hover {
    background-color: rgb(49, 255, 12);
}

.utilButtons {
    display: flex;
    justify-content: right;
}

.homeButton {
    border: 2px solid;
    width: 20%;
    background: none;
    max-width: 200px;
    height: 6vh;
    font-size: clamp(0.7rem, 1.1rem, 8rem);
    color: #2563eb;
    border-radius: clamp(1rem, 1.2rem, 4rem);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 3px;
}

.homeButton:hover {
    background-color: #2563eb;
    color: white;
}

/* Verify */

.verifyDiv>p {
    font-size: clamp(2rem, 2.5rem, 25rem);
    margin: 0;
    text-align: center;
    color: white;
}

.verifyDiv>input {
    height: clamp(1.5rem, 2.5rem, 5rem);
    border-radius: 10px;
    padding: clamp(3px, calc(1.615px + 0.192vw), 9px);
    background: none;
    border: 2px solid white;
    color: white;
}

.verifyDiv>input:focus {
    outline: none;
}

.verifyDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 40vh;
    padding: clamp(16px, calc(12.308px + 0.513vw), 32px);
}

.verifyButton {
    background-color: rgb(53, 233, 21);
    height: 22%;
    width: 40%;
    border-style: hidden;
    border-radius: 15px;
    color: white;
    font-size: clamp(1rem, 2rem, 5rem);
}

.homeButton1 {
    border: 2px solid;
    width: 20%;
    background: none;
    max-width: 200px;
    height: 6vh;
    font-size: clamp(0.7rem, 1.1rem, 8rem);
    color: #2563eb;
    border-radius: clamp(1rem, 1.2rem, 4rem);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: auto;
}

.homeButton1:hover {
    background-color: #2563eb;
    color: white;
}

.mobileHomeButton1 {
    border: 2px solid;
    width: 20%;
    background: none;
    max-width: 200px;
    height: 6vh;
    font-size: clamp(0.7rem, 1.1rem, 8rem);
    color: #2563eb;
    border-radius: clamp(1rem, 1.2rem, 4rem);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: auto;
    display: none;
}

.mobileHomeButton1:hover {
    background-color: #2563eb;
    color: white;
}

@media screen and (max-width:600px) {
    .mobileHomeButton1 {
        display: inline;
    }

    .homeButton1 {
        display: none;
    }
}